.itemcard{
    background: white;
    max-width: 50%;
    margin: auto;
    position: relative;
    top: -182px;
    padding: 20px;
    border-radius: 10px;
    line-height: 25px;
    font-family: roboto;
    border-bottom: 1px solid black;
}
.dollar{
    color: #9f3d3d;
    font-size: 22px;
    font-family: bold;
}
.listing{
    list-style: none;
}
.formdesign{
    text-align: right;
    position: relative;
    top: -133px;
}
.number{
    width: 60px;
    text-align: center;
}
.btn{
    text-align: center;
    background: #631d1d;
    color: white;
    width: 59px;
    height: 23px;
    cursor: pointer;
}